body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* background-image: url(poker.webp);
    background-size: cover; */
  /* background-repeat: no-repeat; */
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  /* background: rgba(245, 245, 245, 0.65); */
  width: 400px;
  color: black;
}

#play-button {
  /* color: #016f32;
  width: 150px;
  background: goldenrod */
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: black;
  width: 150px;
  background: goldenrod;
  margin-bottom: 20px;
  font-weight: bold;
}
