body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(poker.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: black;
}

#message-el {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgba(245, 245, 245, 0.65);
  width: 400px;
}
